body{
    font: normal 16px/25px "futura-pt",Arial,"Helvetica Neue",Helvetica,sans-serif;   
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    font-size: 14px;
}


.pulse{
    margin: auto;
    display: block;

    -webkit-animation: changeSize 5s ease-in-out 0s infinite; /* Safari 4+ */
    animation-duration: 4s;
}

@-webkit-keyframes changeSize  /* Safari and Chrome */{
    0% {transform:scale(1)}
    50% {transform:scale(1.1)}
    100% {transform:scale(1)}
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    display: none;
    //width: /*whatever width you want*/;
}



#hide{
    background-color: #FFF; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0px; 
    left: 0px;
    z-index: 10000;
}


.logo{
    max-width:  118px; 
    margin-top: -12px;    
    transition: max-width 1s;
    position: absolute;
}

.logo:hover {
    max-width: 300px !important;
    transition: max-width 1s;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    height: 40px;
}

.navbar {
    position: fixed;
    margin-bottom: 0;
}

.navbar .navbar-collapse {
    text-align: center;
}

li{
    float: left;
    width: 150px;
    height: auto;
    line-height: 30px;
    text-align: center;
    transition: 1s ease-in-out; 
    color: #FFF;   
}


li:hover  .vypln{
    -webkit-transform: rotateX(0deg);    
    transition: 0.3s;

}

li:hover  a{
    color: #FFF !important;
    transition: 1s;

}

.vypln{
    -webkit-transform: rotateX(90deg); 
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    transition: 0.3s ease-in-out;
}









.slider-header{
    position: absolute; 
    width: 100%; 
    height: 132px;
    top: 40%; 
    left: 0px;
    text-align: center; 
    margin-left: auto ;
    margin-right: auto; 
    font-size: 50px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFF;
}

.slider-text{
    position: relative;
    height: 50px;
    width: 100%;
    top: 30px; 
    left: 0px;
    text-align: center;  
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.white{
    color: #FFF;
}
























/* jssor slider bullet navigator skin 21 css */
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/
.jssorb21 {
    position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(./img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }


/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l                  (normal)
.jssora21r                  (normal)
.jssora21l:hover            (normal mouseover)
.jssora21r:hover            (normal mouseover)
.jssora21l.jssora21ldn      (mousedown)
.jssora21r.jssora21rdn      (mousedown)
*/
.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(./img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }